# SecureCheck - Data Preparation and SQL Database creation

---

### Step 1: Python for Data Processing
### Remove the columns that only contains missing value
### Handle the NAN values

In [1]:
# import needed libraries

import pandas as pd
from datetime import datetime

In [2]:
# Load Data from CSV
file_path = r"traffic_stops - traffic_stops_with_vehicle_number.csv"
df = pd.read_csv(file_path)

In [3]:
df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,None,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,None,Ticket,True,16-30 Min,False,UP89PT2924

In [4]:
# drop the columns with all missing values
df.dropna(axis=1, how='all', inplace=True)

In [5]:
# fill any Nan values
df.fillna({
    'country_name': 'Unkonwn',
    'driver_gender': 'Unkonwn',
    'driver_age': df['driver_age'].median(),
    'driver_race': 'Unkonwn',
    'search_type': 'None',
    'violation': 'Unknown',
    'stop_duration': 'Unknown',
    'stop_outcome': 'Unknown',
    'vehicle_number': 'Unkonwn'
}, inplace=True)

In [6]:
# Convert date & time to timestamp
df['timestamp'] = pd.to_datetime(df['stop_date'] + ' ' + df['stop_time'])

In [7]:
# dataframe after data cleaning and preprocess steps
df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number,timestamp
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473,2020-01-01 00:00:00
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441,2020-01-01 00:01:00
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264,2020-01-01 00:02:00
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807,2020-01-01 00:03:00
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305,2020-01-01 00:04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568,2020-02-15 12:13:00
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098,2020-02-15 12:14:00
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328,2020-02-15 12:15:00
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,None,Warning,True,0-15 Min,True,KA24UZ8488,2020-02-15 12:16:00
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,None,Ticket,True,16-30 Min,False,UP89PT2924,2020-02-15 12:17:00

In [8]:
# Columns and their data types

for col, dtype in df.dtypes.items():
    print(f"Column: {col}, Data type: {dtype}")

Column: stop_date, Data type: object
Column: stop_time, Data type: object
Column: country_name, Data type: object
Column: driver_gender, Data type: object
Column: driver_age_raw, Data type: int64
Column: driver_age, Data type: int64
Column: driver_race, Data type: object
Column: violation_raw, Data type: object
Column: violation, Data type: object
Column: search_conducted, Data type: bool
Column: search_type, Data type: object
Column: stop_outcome, Data type: object
Column: is_arrested, Data type: bool
Column: stop_duration, Data type: object
Column: drugs_related_stop, Data type: bool
Column: vehicle_number, Data type: object
Column: timestamp, Data type: datetime64[ns]

In [9]:
df['stop_date'].unique()

array(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
       '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
       '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
       '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
       '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
       '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
       '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
       '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-01',
       '2020-02-02', '2020-02-03', '2020-02-04', '2020-02-05',
       '2020-02-06', '2020-02-07', '2020-02-08', '2020-02-09',
       '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13',
       '2020-02-14', '2020-02-15'], dtype=object)

In [10]:
df['stop_time'].unique()

array(['0:00:00', '0:01:00', '0:02:00', ..., '23:57:00', '23:58:00',
       '23:59:00'], dtype=object)

In [ ]:
df['country_name'].unique()

array(['Canada', 'India', 'USA'], dtype=object)

In [ ]:
df['driver_gender'].unique()

array(['M', 'F'], dtype=object)

In [ ]:
df['driver_age'].unique()

array([19, 58, 76, 75, 73, 70, 50, 30, 21, 53, 46, 25, 51, 55, 71, 41, 47,
       59, 60, 56, 61, 69, 39, 23, 26, 24, 64, 68, 65, 67, 74, 32, 28, 18,
       43, 48, 78, 77, 22, 31, 37, 35, 40, 20, 63, 49, 45, 38, 72, 79, 36,
       66, 80, 44, 54, 34, 29, 33, 62, 27, 42, 52, 57])

In [ ]:
df['driver_race'].unique()

array(['Asian', 'Other', 'Black', 'White', 'Hispanic'], dtype=object)

In [34]:
df['violation'].unique()

array(['Speeding', 'Other', 'DUI', 'Seatbelt', 'Signal'], dtype=object)

In [35]:
df['search_conducted'].unique()

array([ True, False])

In [36]:
df['search_type'].unique()

array(['Vehicle Search', 'Frisk', 'None'], dtype=object)

In [37]:
df['stop_outcome'].unique()

array(['Ticket', 'Arrest', 'Warning'], dtype=object)

In [38]:
df['is_arrested'].unique()

array([ True, False])

In [39]:
df['stop_duration'].unique()

array(['16-30 Min', '0-15 Min', '30+ Min'], dtype=object)

In [40]:
df['drugs_related_stop'].unique()

array([ True, False])

In [11]:
df['vehicle_number'].unique()

array(['UP76DY3473', 'RJ83PZ4441', 'RJ32OM7264', ..., 'GJ33MX8328',
       'KA24UZ8488', 'UP89PT2924'], dtype=object)

In [12]:
df['vehicle_number'].value_counts()

UP76DY3473    1
TN85QV9799    1
MH58WJ5665    1
UP25TH6328    1
MH45LW7277    1
             ..
GJ63ID7644    1
DL28QQ5849    1
KA10ZY2083    1
TN32II2166    1
UP89PT2924    1
Name: vehicle_number, Length: 65538, dtype: int64

In [10]:
df['timestamp'].unique()

array(['2020-01-01T00:00:00.000000000', '2020-01-01T00:01:00.000000000',
       '2020-01-01T00:02:00.000000000', ...,
       '2020-02-15T12:15:00.000000000', '2020-02-15T12:16:00.000000000',
       '2020-02-15T12:17:00.000000000'], dtype='datetime64[ns]')

In [16]:
# Ensure 'timestamp' is in datetime format (optional if already datetime64[ns])
df['timestamp'] = pd.to_datetime(df['timestamp'])

# Filter based on hour, month, and year
filtered_df = df[
    (df['timestamp'].dt.hour == 5) &
    (df['timestamp'].dt.month == 2) &
    (df['timestamp'].dt.year == 2020)
]

# Count the number of matching entries
count = len(filtered_df)

print("Number of entries with hour=0, month=1, year=2020:", count)

Number of entries with hour=0, month=1, year=2020: 900

---

### Step 2: Database Design (SQL)

In [25]:
# import needed library
import mysql.connector

In [26]:
# connect with SQL

connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Sacheart$731",  
)

cursor = connection.cursor()

In [27]:
# Drop the database if it exists
cursor.execute("DROP DATABASE IF EXISTS securecheck")

In [28]:
# Create the database
cursor.execute("CREATE DATABASE securecheck")

In [29]:
# Switch to using the new database
cursor.execute("USE securecheck")

In [41]:
# Define the table 'traffic_stops'
create_table_query = """
CREATE TABLE traffic_stops (
    id INT AUTO_INCREMENT PRIMARY KEY,
    stop_date VARCHAR(20),
    stop_time VARCHAR(20),
    country_name VARCHAR(100),
    driver_gender VARCHAR(10),
    driver_age_raw INT,
    driver_age INT,
    driver_race VARCHAR(50),
    violation_raw VARCHAR(100),
    violation VARCHAR(100),
    search_conducted BOOLEAN,
    search_type VARCHAR(100),
    stop_outcome VARCHAR(100),
    is_arrested BOOLEAN,
    stop_duration VARCHAR(100),
    drugs_related_stop BOOLEAN,
    vehicle_number VARCHAR(100),
    timestamp DATETIME
)
"""
cursor.execute(create_table_query)

In [42]:
# the insert query
insert_query = """
INSERT INTO traffic_stops (
    stop_date, stop_time, country_name, driver_gender, driver_age_raw, driver_age,
    driver_race, violation_raw, violation, search_conducted, search_type,
    stop_outcome, is_arrested, stop_duration, drugs_related_stop,
    vehicle_number, timestamp
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

In [43]:
# Convert DataFrame to list of tuples
data_tuples = list(df[[
    'stop_date', 'stop_time', 'country_name', 'driver_gender', 'driver_age_raw',
    'driver_age', 'driver_race', 'violation_raw', 'violation', 'search_conducted',
    'search_type', 'stop_outcome', 'is_arrested', 'stop_duration',
    'drugs_related_stop', 'vehicle_number', 'timestamp'
]].itertuples(index=False, name=None))

In [44]:
# insert into the table
cursor.executemany(insert_query, data_tuples)
connection.commit()

In [ ]:

print(f"{cursor.rowcount} rows inserted into 'traffic_stops'.")

65538 rows inserted into 'traffic_stops'.

In [48]:
# verify the insert

# counts from the data frame
# the row count
print("Number of rows in the dataframe:", df.shape[0])
# the column count
print("Number of columns in the dataframe:", df.shape[1])

# counts from the SQL table
# the row count
cursor.execute("SELECT COUNT(*) FROM traffic_stops")
row_count = cursor.fetchone()[0]
print(f"Number of rows in the table: {row_count}")

# the column count
cursor.execute("DESCRIBE traffic_stops")
column_count = len(cursor.fetchall())  # Count the number of rows in the result of DESCRIBE
print(f"Number of columns in the table: {column_count}")

Number of rows in the dataframe: 65538
Number of columns in the dataframe: 17
Number of rows in the table: 65538
Number of columns in the table: 18

In [49]:
cursor.close()
connection.close()